<h1>Editing Assignment</h1>

<%= render 'form' %>

<%= link_to 'Show', @assignment %> |
<%= link_to 'Back', assignments_path %>
<%= link_to 'Destroy', @assignment.destroy, :data =>  {:confirm => "Are you sure?" }%>
