<ol class='breadcrumb'>
	<li><%= link_to "Presentations", presentations_path %></li>
	<li class='active'>New Presentation</li>
</ol>
<div class='page-header'>
	<h1>New Presentation</h1>
</div>
<%= render 'form' %>

<%= link_to 'Cancel', presentations_path %>
