<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>

<iframe src="https://docs.google.com/presentation/d/1WjS9YH880Y7Fexgr9ZMIO10gx5OMQZcy11IJiSXrX8s/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
