<div class =" jumbotron" > 
  <h1>Welcome to <%= Setting.class_name %></h1> 
  <p class='h2'><%= Setting.site_title %></p>
</div>

<iframe class='pretty-frame' src="http://localhost:3000/presentations" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

