<div class =" jumbotron" > 
	<h1>Welcome to HS 252B</h1> 
	<h2>Strategic Management</h2>
 
</div>

<iframe src="http://localhost:3000/presentations" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

