<h1><%=@user.name%>'s Portfolio</h1>

<%@responses.each do |response|%>
  <div class="portfoliocontent">

    <p style="font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">
      <%=response.content.html_safe%>
    </p>

  </div>
  <br>

<%end%>
<br>
